@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

button.sidebar-nav {
  height: 50px;
  display: flex;
  align-items: center;
  border-left: 6px solid #fff;
  span.bg-span {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

button.sidebar-nav:hover,
button.sidebar-nav.active {
  transition: 0.1s all ease-in;
  border-left: 6px solid #5f01d2;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  span.bg-span {
    color: #5f01d2;
    background-color: #f5ecff;
    svg {
      path {
        stroke: #5f01d2;
      }
    }
  }
}

button.deleteBtn {
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  background: linear-gradient(315deg, #7f0303 0%, #d50915 100%);
}

td {
  color: #40474f;
  font-weight: 400;
}
